.gray-section {
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 5px;
    text-align: center;
}

.sub-white-section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin: 0 10px;
}



.curve-border-b {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
}



.login-signup {
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    font-weight: lighter;
    width: fit-content;
}


