/* .category-section {
    margin-bottom: 20px;
  }
   */
  /* .category-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
  }
  
  .category-list li {
    margin-bottom: 5px;
  }
   */