body {
  overflow-x: hidden;
  /* background: linear-gradient(to right, #ffffff, #53def7, #ffffff, #53def7, #ffffff, #53def7, #ffffff, #53def7, #ffffff, #53def7, #ffffff, #53def7, #ffffff); */
  /* backdrop-filter: blur(35px); */
  background-color: rgb(255, 255, 255);
  user-select: none;

/* background: #4CA1AF;  
background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF); 
background: linear-gradient(to left, #C4E0E5, #4CA1AF); 

background: #141E30;  
background: -webkit-linear-gradient(to left, #243B55, #141E30);  
background: linear-gradient(to left, #243B55, #141E30); */

  color: rgb(0, 0, 0);
}

.s-50 {
  width: 50px;
}



.font-dec {
  text-decoration: none;
}

/* Modify the scrollbar's track */
::-webkit-scrollbar {
  width: 2px; /* Set the width of the scrollbar */
  height: 5px;
  background-color: transparent; /* Set the background color of the scrollbar track */
}

/* Modify the scrollbar's thumb */
::-webkit-scrollbar-thumb {
  background-color: #f7ffaa; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the radius of the scrollbar thumb */
}

/* Modify the scrollbar's thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 226, 59); /* Set the color of the scrollbar thumb on hover */
}


/* .gradient-bg {
  background: radial-gradient(50% 123.47% at 50% 50%, rgb(253, 200, 237) 0%, #b4edf7 100%),
    linear-gradient(121.28deg, #b4edf7 0%, #fff 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 190.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
    /* backdrop-filter: blur(105px); 
} */

.App {
  text-align: center;
  overflow-x: hidden;
}

.bg {
  /* background-color: rgb(0, 247, 255); */
  background-color: rgb(255, 219, 17);
  background: linear-gradient(to bottom, #ffd900, #ffbb00);

}

.overflow-x {
  overflow-x: hidden !important;
}

/* -------------------------------------------- Colors --------------------------------------------- */
.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: rgb(0, 102, 255);
}

.cyan {
  color: #00ccff;
}

.green {
  color: rgb(32, 160, 0);
}


/* -------------------------------------------- Fonts-size --------------------------------------------- */

.sub-title {
  color: rgb(97, 97, 97);
  font-size: .7rem;
}

.text-short-1, .text-short {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-short-1 {
  -webkit-line-clamp: 1;
}




@media (max-width: 768px) {
  .sub-title {
      font-size: .6rem;
  }

}


/* ------------------------------------------------------------- Fonts ----------------------------------------------------- */

.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.ff-serif {
  font-family: 'Times New Roman', Times, serif;
}

.ff-georgia {
  font-family: 'Georgia', serif;
}

.ff-baskerville {
  font-family: 'Baskerville', 'Baskerville Old Face', Garamond, 'Times New Roman', serif;
}

.ff-cambria {
  font-family: 'Cambria', serif;
}

.ff-garamond {
  font-family: 'Garamond', serif;
}

/* Sans-serif Fonts */
.ff-sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

.ff-helvetica {
  font-family: 'Helvetica', sans-serif;
}

.ff-verdana {
  font-family: 'Verdana', sans-serif;
}

.ff-nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.ff-roboto {
  font-family: 'Roboto', sans-serif;
}

.ff-open-sans {
  font-family: 'Open Sans', sans-serif;
}

/* Monospace Fonts */
.ff-monospace {
  font-family: 'Courier New', Courier, monospace;
}

.ff-consolas {
  font-family: 'Consolas', monospace;
}

.ff-monaco {
  font-family: 'Monaco', monospace;
}

.ff-inconsolata {
  font-family: 'Inconsolata', monospace;
}

.ff-source-code-pro {
  font-family: 'Source Code Pro', monospace;
}

/* Cursive/Script Fonts */
.ff-cursive {
  font-family: 'Brush Script', cursive;
}

.ff-lobster {
  font-family: 'Lobster', cursive;
}

.ff-snell-roundhand {
  font-family: 'Snell Roundhand', cursive;
}

.ff-lucida-calligraphy {
  font-family: 'Lucida Calligraphy', cursive;
}

.ff-kunstler-script {
  font-family: 'Kunstler Script', cursive;
}

/* Fantasy Fonts */
.ff-fantasy {
  font-family: Impact, fantasy;
}

.ff-chiller {
  font-family: 'Chiller', fantasy;
}

.ff-papyrus {
  font-family: 'Papyrus', fantasy;
}

.ff-comic-sans {
  font-family: 'Comic Sans MS', 'Comic Sans', fantasy;
}

.ff-curlz-mt {
  font-family: 'Curlz MT', fantasy;
}


/* -------------------------------------------- btn --------------------------------------------- */
.p-btn {
    padding: 8px;
    max-width: 300px;
    min-width: 150px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.712));
    border: 1px solid rgb(168, 168, 168);
    user-select: none;
    margin: 0 4px;
}
  
.p-btn:hover {
    color: rgba(255, 255, 255, 0.795);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.712));
}

/* ------------------------------------------------ End ----------------------------------------------------------- */

/* .Toastify__toast-container {
  width: 150px; 
}

.Toastify__toast {
  font-size: 14px;
  padding: 8px 12px; 
} */


.color-changer {
  position: fixed;
  z-index: 2000;
  top: 40%;
  right: 20px;
  /* width: 10px;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.603); */
}

.color-option {
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.89);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.plus-icon {
  scale: 1.4;
  opacity: .8;
}

.custom-color-btn {
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.89);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.custom-color-btn.rotate {
  transform: rotate(45deg);
  /* Rotate the button when the 'rotate' class is applied */
}

.custom-color-input {
  display: none;
  /* Initially hide the input bar */
}

.custom-color-input.show {
  position: absolute;
  display: flex;
  /* Show the input bar if it has the 'show' class */
  right: -10px;
  top: 40px;
  align-items: center;
  /* background-color: white; */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 1);
}

.custom-color-input input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.custom-color-input button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}




.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.sticky-form {
  position: sticky;
  top: 0;
  /* border-radius: 5px; */
  z-index: 1000;
  /* Ensure the form stays above other content */
  /* background-color: rgb(255, 0, 0); */
  /* background-color: rgb(255, 208, 0);
  background-color: rgb(253, 200, 237); */
  padding: 5px;
  /* Optionally, add padding to the form container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.sticky-form form {
  display: flex;
  align-items: center;
}





@media (min-width: 768px) {
  .sticky-form {
    display: none;
  }

  .h-50 {
    max-height: 50vh;
  }
}


.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* Add shadow on hover */
  transition: box-shadow 0.3s ease;
  /* Add transition for smooth effect */
}

.product-card {
  background: rgb(255, 255, 255);
}

.card-img-top {
  border-radius: 2px;
  height: 180px;
}

.label-market {
  width: 100px;
  background: #007F73;
  border-radius: 15px;
  text-align: center;
  font-size: .8rem;
  margin: 5px;
  color: white;
}

.label-goexpress {
  width: 100px;
  background: rgb(255, 201, 24);
  border-radius: 15px;
  text-align: center;
  font-size: .8rem;
  margin: 5px;
  color: white;
}

.label-market-logo {
  /* background: rgb(0, 11, 77); */
  color: white;
  margin: 0 4px;
}

.wishlist-icon {
  position: absolute;
  opacity: 0.8;
  right: 0;
  padding: 0 5px;
  padding-top: 2px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: ease-in-out;
}


.wishlist-icon:hover {
  /* scale: 1.4; */
  opacity: 1;
}

@keyframes bounceDown {
  from {
    transform: translateY(-3px);
  }
  to {
    transform: translateY(0);
  }
}

.blur-bg-card {
  width: fit-content;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  border-radius: 20px;
}


.empty-wishlist {
  height: 50vh;
  background-image: url('./Images/wishlist.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  /* color: white; */
}

.wishlist {
  background-color: #feffab;
  padding: 10px; /* Adjust padding for smaller screens */
  font-size: 0.7rem; /* Reduce font size for smaller screens */
}

.wishlist img {
  width: 120px; /* Reduce image width for smaller screens */
  height: 120px; /* Reduce image height for smaller screens */
}

.white-box {
  background-color: white;
  margin: 10px;
  /* padding: 10px;
  padding-bottom: 2px; */
  border-radius: 10px;
}

.lite-btn {
  padding: 2px 4px;
  text-decoration: none;
  margin-top: 10px; /* Adjust margin for smaller screens */
  color: rgb(39, 39, 39);
  background-color: #e4e4e449;
  border: 1px solid rgb(126, 126, 126);
  user-select: none;
  border-radius: 5px;
  font-size: small;
}


.remove-all-btn {
  padding: 6px 4px;
  text-decoration: none;
  margin: 0 10px;
  margin-top: 10px; /* Adjust margin for smaller screens */
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 1px solid rgb(126, 126, 126);
  user-select: none;
  border-radius: 5px;
  text-align: center;
  font-size: .8rem;
}

@media only screen and (max-width: 600px) {
  .wishlist {
    font-size: 0.7rem; /* Further reduce font size for smaller screens */
  }

  .wishlist img {
    width: 80px; /* Further reduce image width for smaller screens */
    height: 80px; /* Further reduce image height for smaller screens */
  }

  .white-box {
    max-width: 90vw; /* Adjust max-width for smaller screens */
  }
}


.border-top {
  /* margin-top: 2px; */
  border-top: 1px solid rgba(37, 37, 37, 0.356);
}

.border-right {
  border-right: 1px solid rgba(37, 37, 37, 0.356);
}

.lite-btn:hover {
  opacity: .8;
  background-color: transparent;
}

.add-to-cart-icon {
  position: absolute;
  opacity: 0.8;
  bottom: 40px;
  right: 0;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274);
  transition: ease-in-out;
  color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
}

.add-to-cart-icon:hover {
  scale: 1.1;
  opacity: 1;
}

.rating-show {
  position: absolute;
  left: 0;
  color: white;
  padding: 0 5px;
  padding-top: 2px;
  margin: 6px;
  font-size: .8rem;
  cursor: pointer;
  border-radius: 20%;
  background: rgb(0, 211, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.search {
  background: transparent;
  border: none;
  padding-left: 10px;
  color: rgb(0, 0, 0);
}

.sticky-form input {
  border-radius: 8px;
  /* background-color: transparent; */
}

.search-container {
  position: relative;
  margin: 0 10px;
}

.search-container input[type="search"] {
  padding-right: 30px; /* Adjust as needed */
}

.search-container svg {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
}


.cyan-btn {
  padding: 4px;
  text-decoration: none;
  /* border-radius: 5px; */
  color: rgb(255, 255, 255);
  background-color: #050505;
  border: 2px solid rgb(0, 0, 0);
  user-select: none;
  font-weight: bold;
}

.cyan-btn:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
}

.c-fit {
  width: fit-content;
  padding: 5px 10px;
}

.cyan-card {
  padding: 4px;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdHAyMzgtYmFja2dyb3VuZC0wOC5qcGc.jpg');
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the image */
}


.cyan-card:hover {
  box-shadow: black;
}

.copyright {
  content: "";
  position: absolute;
  margin-bottom: 50px;
  left: 0;
  width: 100vw;
  height: 2px;
  background-color: white;
}

.top-gap {
  margin-top: 60px;
}

@media (max-width: 768px) {

  ::-webkit-scrollbar {
    width: 2px; /* Set the width of the scrollbar */
    height: 1px;
  }


  .footer-b {
    display: none;
  }

  .footer {
    margin-bottom: 60px;
  }

  .bottom-gap {
    margin-bottom: 60px;
  }

  .top-gap {
    margin-top: 0;
  }
}


/* ------------------------------------ HorizontalScrollableProducts ------------------------------------- */


.scrollable-products-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollable-products {
  display: inline-block;
}

.product-card-h {
  position: relative;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 2px;
  max-width: 170px; 
  margin-bottom: 10px;
  margin-right: 10px; 
  white-space: wrap;
}

.product-card-h-name {
  font-size: 0.8rem;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  /* text-align: center; */
}

.more-product {
  display: inline-block;
  width: 150px;
}

.more-product::after {
  content: " ";
  margin-top: 100px;
}


/* Add any other styles you need for your product cards */


/* ---------------------------------------------  category-container --------------------------------------- */


.category-container {
  width: 100%;
  max-width: 1200px;
  margin: 15px auto;
}

.category-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  flex: 0 0 calc(33.33% - 20px); /* Three items in a row with margin */
  margin-bottom: 20px;
  text-align: center;
}

.category-item img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.category-item p {
  font-size: 14px;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .category-container {
    scale: .9;
  }

}


.Banner-size {
  height: 300px;
  width: auto;
}

.sub-menu-items, .sub-menu-items-active{
  padding: 5px 10px;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  max-width: fit-content;
  user-select: none;
}

.sub-menu-items:hover,.sub-menu-items-active {
  background-color: #727591;
  color: white;
}

.mega-deal {
  background-color: #fbfd6b;
}

/* --------------------------------------------- login-modal -------------------------------------------------------------- */


.lm-container {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 50vw;
  padding: 20px;
  z-index: 2000;
  background-image: url('./Images/login-bg4.jpg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  border: 1px solid #ffbb00;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.521);
}


.lm-close {
  position: absolute;
  scale: 1.4;
  top: 10px;
  right: 10px;
  color: #ffffff;
  border: 1px solid white;
  padding: 0 6px;
  border-radius: 3px;
}

/* .lm-left {
  background-color: #fced64;
}

.lm-right {
  background-color: white;
} */

.login-btn {
  background-color: #ffc629;
  padding: 5px 10px;
  border: 1px solid #ffbb00;
}

.login-btn:hover{
  background-color: #ffffff;
  color: #ffbb00;
}

@media (max-width: 768px) {
  .lm-left {
    display: none;
  }

  .lm-container {
    width: 80vw;
  }
  

}


/* --------------------------------------------- login-modal-end -------------------------------------------------------------- */


